<section id="home" class="section">

</section>
<section id="events" class="section">

</section>
<section id="host" class="section">

</section>
<section id="actor" class="section">

</section>
<section id="production" class="section">
  <img id="camera" class="photo-element"src="images/camera.png" />
  <img id="cable" class="photo-element"src="images/cable.png" />
  <img id="microphone" class="photo-element" src="images/microphone.png" />


</section>
<section id="contact" class="section">

</section>
