<section id="home" class="section">
  <div class="row">
    <div class="col s12">
      <div class="jonathan-main">
        <div class="container">
          <h1 class="center">JONATHAN STERRITT</h1>
          <hr />
          <div class="row">
            <div class="home-img">
              <div class="col s4 center">
                <img src="images/jonathan-headshot-1.jpg" />
                <h3>ACTOR</h3>
                <h5>OF TV AND FILM</h5>
              </div>
              <div class="col s4 center">
                <img src="images/jonathan-hosting-loop-4.jpg" />
                <h3>HOST</h3>
                <h5>OF STAGE AND SCREEN</h5>
              </div>
              <div class="col s4 center">
                <img src="images/jonathan-producer.jpg" />
                <h3>PRODUCER</h3>
                <h5>OF NEW MEDIA</h5>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="home-img">
    <img class="" src="images/jonathan-main-black.png" />
  </div> -->

  <div class="scroll-down">

    <a href="#bio">BIO</a>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
  <!-- <section class="ability-section center-align"> -->
      <!-- <div class="row">
        <div class="col s4">
          <img class="hero-image" src="images/actor-of-film.jpg" />
        </div>
        <div class="col s4">
          <img class="hero-image" src="images/host-of-stage.jpg" />
        </div>
        <div class="col s4">
          <img class="hero-image" src="images/producer-of-content.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <span>Actor of Film <br />and Television</span>
        </div>
        <div class="col s4">
          <span>Host of Stage <br />and Screen</span>
        </div>
        <div class="col s4">
          <span>Producer of Content <br />and Motivation</span>
        </div>

      </div> -->

  <!-- </section> -->

</section>

<section id="bio" class="section">
  <div class="container">
    <div class="row">
      <div class="col l5 hide-on-med-and-down">
        <img src="images/jonathan-bio.png" />
      </div>
      <div class="col l7 s12">
        <h1 class="hide-on-med-and-down center">WELCOME</h1>
        <h1 class="hide-on-large-only center">WELCOME</h1>
        <p>Jonathan Sterritt is an actor, filmmaker and an on-camera/Live Event Host who lives his life in Hollywood, CA with his Toy Pomeranian, Brutus, who may very well become famous before he does.
        </p>
        <br />
        <br />
        <p>
          If you enjoy watching game shows as much as Jonathan does, you might recognize him from his (unsuccessful) attempts to get rich quick on The Price Is Right, Let’s Make a Deal and Idiottest, where it was determined that Jonathan is, in fact, not an idiot.
        </p>
        <br />
        <br />
        <p>
          This site is the absolute best place to get the latest news on all aspects of Jonathan’s career.
        </p>
        <br />
        <br />
        <p>
          Sign up for the newsletter <a href="#0"><span>HERE</span></a> to get monthly updates and videos directly from Jonathan himself!

        </p>
        <br />
        <br />

      </div>
    </div>
    <div class="scroll-down">
      <a href="#social">SOCIAL</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>

</section>

<section id="social" class="section">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #555;">SOCIAL MEDIA</h1>
        <div class="row">
          <div class="col s8 offset-s2">
            <p>
              Jonathan’s idea of fun includes game nights, escape rooms and increasing his agility at the trampoline park where he competes in a trampoline dodgeball league.
              <br />
              <br />
              Jonathan loves to share motivational stories from his career and life as a puppy dad on social media.
              <br />
              <br />
              Follow Jonathan on Instagram by clicking <a href="https://www.instagram.com/jonathansterritt/"><span>HERE!</span></a>
            </p>
            <br />

          </div>

        </div>
        <ul class="juicer-feed hide-on-med-and-down" data-feed-id="jonathansterritt" data-per="16"></ul>
        <ul class="juicer-feed hide-on-large-only" data-feed-id="jonathansterritt" data-per="16" data-style="slider"></ul>

      </div>
    </div>
    <div class="scroll-down">
      <a href="#actor">ACTOR</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>

</section>

<section id="actor" class="section">
  <div >
    <img class="actor-background" src="images/jonathan-actor.png" />

  </div>
  <div class="container">
    <div class="row">
      <div class="col l4 hide-on-med-and-down">
      </div>
      <div class="col l8 s12">
        <h1 style="color: #fff;" class="center">ACTOR</h1>
        <p>
          Jonathan is a theatre graduate at the University of North Texas and
          he continues to study his craft with acting coaches Howard Fine and
          John Rosenfeld.

        </p>
        <br />
        <br />
        <p>
          His recent projects include his role as a vengeful lover in the film
          “Penance” and the ever patient roommate in the web series, “Growing
          Nowhere” He’s also appeared on General Hospital and played a douchey
          ex-boyfriend in the digital short A Gentlemen’s Interview, a
          manipulative boy next door in the feature The Last Trip, and a
          stressed-out, yet ambitious, journalist in the web series One Day.
        </p>
        <br />
        <br />
        <p>
          Jonathan's goal is a simple one as he sets his sights on key roles in
          feature films and in notable television:
          <br />
          <span>To remain vital, relevant, and engaged in all aspects of the
          storytelling process and the creation of engaging media.</span>
        </p>
        <br />
        <br />
        <p>
          Jonathan is represented commercially by <a href="http://www.commercialtalentagency.com/">Commercial Talent Agency.</a>
        </p>
        <br />
        <p>
          Click <a href="resumes/ActingRes2017JWS.pdf" download="">HERE</a> for PDF version of resume.
        </p>
        <br />
        <br />
        <br />


      </div>
    </div>
  </div>


  <div class="scroll-down">
    <a href="#host">HOST</a>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
</section>

<section id="actor-portfolio" class="section">
  <h2 class="center">ACTOR PORTFOLIO</h2>
  <div class="container">
    <div class="row">
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-item  black-text" href="#one!">
          <div class="row">
            <div class="col s2">
              <img class="materialboxed" width="650" src="images/jonathan-headshot-1.jpg" />
            </div>
            <div class="col s2">
              <img class="materialboxed" width="650" src="images/jonathan-headshot-2.jpg" />

            </div>
            <div class="col s2">
              <img class="materialboxed" width="650" src="images/jonathan-headshot-3.jpg" />

            </div>
            <div class="col s2">
              <img class="materialboxed" width="650" src="images/jonathan-headshot-4.jpg" />

            </div>
            <div class="col s2">
              <img class="materialboxed" width="650" src="images/jonathan-headshot-5.jpg" />

            </div>
            <div class="col s2">
              <img class="materialboxed" width="650" src="images/jonathan-headshot-6.jpg" />

            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col l6 s12">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/zCQ-be208wU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col l6 s12">
        <h3 class="center-align">RESUME</h3>
        <ul class="collapsible" data-collapsible="accordion">
          <!-- <li>
          <div class="collapsible-header"><i class="material-icons right">add</i>Hosting</div>
          <div class="collapsible-body">
          <div class="row">
          <div class="col s4">
          <span class="resume-list-heading">Project</span>
        </div>
        <div class="col s4">
        <span class="resume-list-heading">Role</span>
      </div>
      <div class="col s4">
      <span class="resume-list-heading">Platform / Director</span>
    </div>
  </div>
  <div class="row">
  <div class="col s4">
  <ul class="resume-list">
  <li>BidChat Now! </li>
  <li>Kindered Connection </li>
  <li>Hollywon't </li>
  <li>Ruff Cuts</li>
  <li>Kabuki Lion Vegas Show </li>
  <li>MultiBrian </li>
  <li>Hyundai Tucson Industrial </li>
  <li>Targus Computer Cases </li>
  <li>Bring Hollywood Home </li>
  <li>Sena Series Media Training </li>
  </ul>
  </div>
  <div class="col s4">
  <ul class="resume-list">
  <li>Talk Show Co-Host </li>
  <li>Talk Show Host </li>
  <li>Infomercial Host </li>
  <li>Talk Show Co-Host </li>
  <li>Emcee </li>
  <li>Social Media Expert</li>
  <li>Sales Expert </li>
  <li>Sales Expert</li>
  <li>Red Carpet Host </li>
  <li>Level 1 Coach</li>
  </ul>
  </div>
  <div class="col s4">
  <ul class="resume-list">
  <li>BlueMatch Productions </li>
  <li>BlueMatch Productions </li>
  <li>Blue Match Productions </li>
  <li>iDoggiebag Network </li>
  <li>Panasonic w/ Team Lab </li>
  <li>Dir. Lee Levine</li>
  <li>AZ Films</li>
  <li>Dir. Hannes Meyer</li>
  <li>Dir. Sharon Jimenez</li>
  <li>Suzanne Sena</li>
  </ul>
  </div>
  </div>
  </div>
  </li> -->
  <li>
    <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>TV / New Media</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col s4">
          <span class="resume-list-heading">Project</span>
        </div>
        <div class="col s4">
          <span class="resume-list-heading">Role</span>
        </div>
        <div class="col s4">
          <span class="resume-list-heading">Network / Director</span>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <ul class="resume-list">
            <li class="truncate">General Hospital </li>
            <li class="truncate">Young and the Restless </li>
            <li class="truncate">BlueMatch Comedy S. 1 & 2 </li>
            <li class="truncate">The Tiffany and Erin Show </li>
            <li class="truncate">One Day: Season 2 </li>
            <li class="truncate">Girl Parts </li>
            <li class="truncate">Cuties in the Crowd </li>
            <li class="truncate">Emergence: Season 1 </li>
            <li class="truncate">Growing Nowhere </li>
          </ul>
        </div>
        <div class="col s4">
          <ul class="resume-list">
            <li class="truncate">Co-Star </li>
            <li class="truncate">Featured </li>
            <li class="truncate">Series Regular </li>
            <li class="truncate">Guest Star </li>
            <li class="truncate">Series Regular </li>
            <li class="truncate">Guest Star </li>
            <li class="truncate">Guest Star </li>
            <li class="truncate">Guest Star </li>
            <li class="truncate">Lead </li>
          </ul>
        </div>
        <div class="col s4">
          <ul class="resume-list">
            <li>ABC </li>
            <li>CBS </li>
            <li class="truncate">Blue Match Productions </li>
            <li class="truncate">Dir. Matthew Swanson </li>
            <li class="truncate">Dir. Sean Williams </li>
            <li class="truncate">Dir. Kelsey Robinson </li>
            <li class="truncate">Dir. Alyssa Vaughan</li>
            <li class="truncate">Dir. Austin Morales</li>
            <li class="truncate">Dir. Stephen Jangro</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Film</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col s4">
          <span class="resume-list-heading">Project</span>
        </div>
        <div class="col s4">
          <span class="resume-list-heading">Role</span>
        </div>
        <div class="col s4">
          <span class="resume-list-heading">Network / Director</span>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <ul class="resume-list">
            <li class="truncate">Perspectives: A Live Exp. </li>
            <li class="truncate">The Ballad of Howard</li>
            <li class="truncate">The Toy </li>
            <li class="truncate">The Cottage </li>
            <li class="truncate">Moth Finds a Home </li>
            <li class="truncate">The Cabin </li>
            <li class="truncate">The Last Trip </li>
            <li class="truncate">Just 20 </li>
            <li class="truncate">Penance </li>
          </ul>
        </div>
        <div class="col s4">
          <ul class="resume-list">
            <li class="truncate">Lead </li>
            <li class="truncate">Lead </li>
            <li class="truncate">Lead</li>
            <li class="truncate">Featured </li>
            <li class="truncate">Lead </li>
            <li class="truncate">Lead </li>
            <li class="truncate">Lead </li>
            <li class="truncate">Featured</li>
            <li class="truncate">Lead</li>
          </ul>
        </div>
        <div class="col s4">
          <ul class="resume-list">
            <li class="truncate">Blue Match Productions </li>
            <li class="truncate">Dir. Frank Ireland </li>
            <li class="truncate">Dir. Derek Dennis Herbert</li>
            <li class="truncate">Dir. Christopher Jaymes</li>
            <li class="truncate">Dir. Gregg Brown</li>
            <li class="truncate">Dir. Jameseson Dressen</li>
            <li class="truncate">Dir. Carlos Azucena </li>
            <li class="truncate">Dir. Gavin Michael Booth</li>
            <li class="truncate">Dir. Ben Escobar</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Theatre</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col s5">
          <span class="resume-list-heading">Production</span>
        </div>
        <div class="col s3">
          <span class="resume-list-heading">Role</span>
        </div>
        <div class="col s4">
          <span class="resume-list-heading">Venue</span>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
          <ul class="resume-list">
            <li class="truncate">Dog Sees God </li>
            <li class="truncate">The Laramie Project </li>
            <li class="truncate">House of Blue Leaves</li>
            <li class="truncate">You're a Good Man Charlie Brown </li>
          </ul>
        </div>
        <div class="col s3">
          <ul class="resume-list">
            <li class="truncate">Matt</li>
            <li class="truncate">Ensemble</li>
            <li class="truncate">Billy </li>
            <li class="truncate">Schroder </li>
          </ul>
        </div>
        <div class="col s4">
          <ul class="resume-list">
            <li class="truncate">University of North Texas </li>
            <li class="truncate">Denton Community Theatre </li>
            <li class="truncate">Plano West Theatre </li>
            <li class="truncate">Plano Community Theatre </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header resume-icon collapsible-header-end"><i class="material-icons right">add</i>Training / Education</div>
    <div class="collapsible-body">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header  special-skill-list resume-icon"><i class="material-icons right">add</i>College</div>
          <div class="collapsible-body">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="row">
                  <div class="col s6">
                    <ul>
                      <li class="truncate">University of North Texas </li>
                      <li class="truncate">UCLA </li>
                    </ul>
                  </div>
                  <div class="col s6">
                    <ul>
                      <li class="truncate">BSC (Theater Major) </li>
                      <li class="truncate">12 wk Film Business Course (Judith Merans)</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Scene Study</div>
          <div class="collapsible-body">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="row">
                  <div class="col s12 center-align">
                    <ul>
                      <li class="truncate">John Rosenfeld (Current)</li>
                      <li class="truncate">Howard Fine</li>
                      <li class="truncate">Laura Gardner</li>
                      <li class="truncate">Marylyn Macentire</li>
                      <li class="truncate">Mark Teschner</li>
                      <li class="truncate">Tim Phillips</li>
                      <li class="truncate">Sharon Chatten</li>
                      <li class="truncate">Gunnar Rohrbacher</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Commercial/VO</div>
          <div class="collapsible-body">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="row">
                  <div class="col s12 center-align">
                    <ul>
                      <li class="truncate">Killian Mchugh</li>
                      <li class="truncate">Carolyn Barry</li>
                      <li class="truncate">Terry Berland</li>
                      <li class="truncate">David H. Lawrence (VO)</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </li>
        <li>
          <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Speciality</div>
          <div class="collapsible-body">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="row">
                  <div class="col s12 center-align">
                    <ul>
                      <li class="truncate">Jeff Galante (Groundings)</li>
                      <li class="truncate">Bob Coff (Voice - Current)</li>
                      <li class="truncate">David Coury (Voice)</li>
                      <li class="truncate">Jean-Louis Rodrigue (Alexander)</li>
                      <li class="truncate">Mark Wilson (Magic)</li>
                      <li class="truncate">John Sudol</li>
                      <li class="truncate">Sam Christensen (Branding)</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </li>


  <!-- <li>
  <div class="collapsible-header"><i class="material-icons right">add</i>Special Skills</div>
  <div class="collapsible-body">
  <ul class="collapsible" data-collapsible="accordion">
  <li>
  <div class="collapsible-header special-skill-list"><i class="material-icons right">add</i>Music</div>
  <div class="collapsible-body">
  <div class="row">
  <div class="col s4 center-align">
  Singing (Baritone)
  </div>
  <div class="col s4 center-align">
  Karaoke
  </div>
  <div class="col s4 center-align">
  Guitar Hero Pro
  </div>
  </div>
  </div>
  </li>

  <li>
  <div class="collapsible-header"><i class="material-icons right">add</i>Sports</div>
  <div class="collapsible-body">
  <div class="row">
  <div class="col s4">
  <ul class="resume-list">
  <li>Crossfit Athlete</li>
  <li>Olympic Lifting</li>
  <li>Basketball</li>
  <li>Ultimate Frisbee</li>
  <li>Golf</li>
  <li>Biking</li>
  </ul>
  </div>
  <div class="col s4">
  <ul class="resume-list">
  <li>Swimming</li>
  <li>Rock Climbing</li>
  <li>Stage Combat</li>
  <li>Skydiving</li>
  <li>Bungee Jumping</li>
  <li>Snowboarding</li>
  </ul>
  </div>
  <div class="col s4">
  <ul class="resume-list">
  <li>Ping Pong</li>
  <li>Scuba Diving</li>
  <li>Beer Pong</li>
  <li>Dodgeball</li>
  <li>Long Distance Running</li>
  <li>Bowling</li>
  </ul>
  </div>
  </div>
  </div>
  </li>
  <li>
  <div class="collapsible-header"><i class="material-icons right">add</i>Other</div>
  <div class="collapsible-body">
  <div class="row">
  <div class="col s4">
  <ul class="resume-list">
  <li>Live/New Media Producer</li>
  <li>Director</li>
  <li>Teleprompter</li>
  <li>IFC</li>
  <li>Magic and Card Tricks</li>
  <li>Video Games</li>
  </ul>
  </div>
  <div class="col s4">
  <ul class="resume-list">
  <li>Social Media</li>
  <li>Bartending</li>
  <li>Serving</li>
  <li>Salesmanship</li>
  <li>Hospitality Management</li>
  <li>Working with Animals</li>
  </ul>
  </div>
  <div class="col s4">
  <ul class="resume-list">
  <li>Working with Children</li>
  <li>Cooking</li>
  <li>Lifeguard</li>
  <li>Poker Player</li>
  <li>Horseback Riding</li>
  <li>Basic Spanish</li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </li>
  </ul

  </div>
  </li> -->
  </ul>

  <div class="row">
    <div class="col s12 ">
      <div class="casting-logos-flex">
        <div class="casting-logos">
          <a href="http://resumes.actorsaccess.com/JonathanSterritt" target="_blank"><img src="images/actors-access.jpg"/></a>
          <a href="https://www.backstage.com/u/jonathan-sterritt" target="_blank"><img src="images/backstage.png"/></a>
          <a href="https://www.hollywoodcastingandfilm.com/users/view" target="_blank"><img src="images/hollywood-casting.jpg"/></a>
          <a href="http://imdb.me/jonathansterritt" target="_blank"><img src="images/imdb.jpg"/></a>
          <a href="https://database.castingfrontier.com/p/180557/fqbk86q1uh9tesmk1dg5xq62e7miam6#" target="_blank"><img src="images/casting-frontier.png"/></a>
          <a href="https://www.castittalent.com/JONATHANSTERRITT" target="_blank"><img src="images/cast-it-talent.png"/></a>
          <a href="http://www.lacasting.com/JonathanSterritt" target="_blank"><img src="images/la-casting.png"/></a>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>



</div>




</section>

<section id="host" class="section">
  <div class="container">
    <div class="row">
      <div class="col l8 s12 offset-l2">
        <h1 class="center">HOST</h1>
        <!-- <div class="row">
          <div class="flex-container">
            <div id="host-action-loop" class="carousel carousel-slider center" data-indicators="false">
              <div class="carousel-item" href="#one!">
                <div class="row">
                  <div class="col s12">
                    <img  width="650" src="images/jonathan-hosting-loop-1.jpg" />

                  </div>
                </div>
              </div>
              <div class="carousel-item" href="#two!">
                <img  width="650" src="images/jonathan-hosting-loop-2.jpg" />
              </div>
              <div class="carousel-item" href="#three!">
                <img  width="650" src="images/jonathan-hosting-loop-3.jpg" />
              </div>
              <div class="carousel-item" href="#four!">
                <img  width="650" src="images/jonathan-hosting-loop-4.jpg" />
              </div>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col s10 offset-s1">
            <p>
              A a Host, Jonathan is known for his friendly and motivational
              hosting style. He hosted the popular pet food safety show Ruff Cuts
              and can be seen chatting with humans on the live talk show BidChat
              Now!, which he created for the live streaming website Bidchat.com.
              He has also represented international brands in national
              commercials, industrial films and live events in the US and worldwide,
              including a recent hosting project for Hyundai in South Korea.
            </p>
            <br />
            <br />
            <p>
              He is trained and mentored by Suzanne Sena, with whom he currently
              teaches professional hosting and Teleprompter technique.
            </p>
            <br />
            <br />
            <p>
              Click <a href="https://carolynebarry.com/workshops/hosting/"><span>HERE</span></a> to learn more about Jonathan’s
              Sena Series Media Training Classes.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col l10 s12 offset-l1 credits">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/W4UZPcK1Km0" frameborder="0" allowfullscreen></iframe>
            </div>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Credits</div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s4">
                      <span class="resume-list-heading">Project</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Role</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Platform / Director</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <ul class="resume-list">
                        <li class="truncate">BidChat Now! </li>
                        <li class="truncate">Kindered Connection </li>
                        <li class="truncate">Hollywon't </li>
                        <li class="truncate">Ruff Cuts</li>
                        <li class="truncate">Kabuki Lion Vegas Show </li>
                        <li class="truncate">MultiBrian </li>
                        <li class="truncate">Hyundai Tucson Industrial </li>
                        <li class="truncate">Targus Computer Cases </li>
                        <li class="truncate">Bring Hollywood Home </li>
                        <li class="truncate">Sena Series Media Training </li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li class="truncate">Talk Show Co-Host </li>
                        <li class="truncate">Talk Show Host </li>
                        <li class="truncate">Infomercial Host </li>
                        <li class="truncate">Talk Show Co-Host </li>
                        <li class="truncate">Emcee </li>
                        <li class="truncate">Social Media Expert</li>
                        <li class="truncate">Sales Expert </li>
                        <li class="truncate">Sales Expert</li>
                        <li class="truncate">Red Carpet Host </li>
                        <li class="truncate">Level 1 Coach</li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li class="truncate">BlueMatch Productions </li>
                        <li class="truncate">BlueMatch Productions </li>
                        <li class="truncate">Blue Match Productions </li>
                        <li class="truncate">iDoggiebag Network </li>
                        <li class="truncate">Panasonic w/ Team Lab </li>
                        <li class="truncate">Dir. Lee Levine</li>
                        <li class="truncate">AZ Films</li>
                        <li class="truncate">Dir. Hannes Meyer</li>
                        <li class="truncate">Dir. Sharon Jimenez</li>
                        <li class="truncate">Suzanne Sena</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="scroll-down">
    <a href="#production">PRODUCTION</a>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
  <div >
    <img id="microman" class="right" src="images/jonathan-hosting.png" />

  </div>
  <div >
    <img id="microman-2" class="right" src="images/microman.png" />
  </div>
</section>

<section id="production" class="section scrollSpy">
  <img id="camera" class="photo-element"src="images/camera.png" />
  <img id="cable" class="photo-element"src="images/cable.png" />
  <img id="microphone" class="photo-element" src="images/microphone.png" />
  <div class="container center-align">
    <img class="bmp-logo"src="images/bmp-logo.png" />
    <div id="bmp-bio" class="row">
      <div class="col s8 offset-s2">
        <p>
          Jonathan started producing his own content in 2013 as a way to continue his artistic reach and expression.
        </p>
        <br />
        <br />
        <p>
          Among the many projects he completed through his company, Blue Match Productions, he recently directed, starred in and produced Periscope: A Live Experience, the first multi-camera live action short film to be broadcast in association with the social media platform.
        </p>
        <br />
        <br />
        <p>
          BlueMatch Productions has grown into a well oiled production team whose services and equipment are available to rent within the Los Angeles area.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s6 offset-s3">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Jq18OuX936M" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <ul class="clip-list">
          <a data-target="seasonOne-modal"><li>Season 1</li></a>
          <a data-target="seasonTwo-modal"><li>Season 2</li></a>
          <a data-target="perspectives-modal"><li>Perspectives A <br /> Live Experience</li></a>
        </ul>
      </div>
      <!-- <div id="equipment-rental" class="col s6">
        <h4>Equipment Rental</h4>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6">
                  <ul class="equipment-list">
                    <li>A Camera </li>
                    <li>B Camera</li>
                    <li>C Camera </li>
                    <li>Director </li>
                    <li>Extension Cords</li>
                    <li>Generator </li>
                    <li>LED Lights</li>
                    <li>Microphone </li>
                    <li>Tape </li>
                    <li>Trailer </li>
                  </ul>
                </div>
                <div class="col s6">
                  <ul class="equipment-list">
                    <li>$60 </li>
                    <li>$60 </li>
                    <li>$60 </li>
                    <li>$75 </li>
                    <li>$15 </li>
                    <li>$150</li>
                    <li>$45</li>
                    <li>$25</li>
                    <li>$5 </li>
                    <li>$200</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
        </ul>
      </div> -->
      <div class="col s2">

      </div>
    </div>
    <div id="bmp-contact" class="row">
      <div class="col s8 offset-s2">
        <p>
          For inquires and equipment rentals, visit us at the link below;
        </p>
        <a data-target="equipment-modal">(Click Here)</a>
      </div>
    </div>
    <div class="scroll-down">
      <a href="#contact">CONTACT</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>

</section>

<!-- <section id="quote" class="section">
  <div class="container center-align">
    <div class="row">
      <div class="col l8 m12 s12">
        <p class="quote-paragraph left">
          “<span>It is not who you become to play the character, it’s who the
          character becomes because you play it.</span>”
          <br />

        </p>
        <p class="quote-paragraph">
          <br />
          <span class="right quote">— Lawrence Oliver</span>
        </p>
      </div>
      <div class="col s6">
        <img src="images/jonathan-quote.png" />
      </div>
    </div>
    <div class="scroll-down">
      <a href="#contact">CONTACT</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>
</section> -->

<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col l5">
        <img class="contact-img" src="images/jonathan-sterritt-contact.png" />
      </div>
      <div class="col l7 s12">
        <h1 class="contact-header">JONATHAN STERRITT</h1>
        <div class="row">
          <div class="col l6 m6 s12 contact-items">
            <a href="mailto:neil@commercialtalentagency.com"><img class="commercial-logo" src="images/commercial-talent-logo.jpeg" /></a>
          </div>
        </div>
        <div class="row">
          <form action="/contact" method="post">
            <div class="input-field">
              <label for="name">What is your name? *</label>
              <input id="name" type="text" class="validate" name="name"/>
            </div>
            <div class="input-field">
              <label for="email">What is your email? *</label>
              <input id="email" type="text" class="validate" name="email"/>

            </div>
            <div class="input-field">
              <label for="message">Write me here... *</label>
              <input id="message" type="text" class="validate" name="message" placeholder="How can we collaborate?"/>

            </div>
            <button id="send-button" class="btn waves-effect #424242 grey darken-3" type="submit">Send Message</button>

          </form>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <h1 class="contact-header center">JONATHAN STERRITT</h1>
      <div class="col l8 offset-l2 s12">
        <img  class="contact-img" src="images/jonathan-contact.jpg" />
        <h5 class="center">Represented By:</h5>
        <div class="row">
          <div class="col s12 contact-items">
            <img class="commercial-logo" src="images/commercial-talent-logo.jpeg" />
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h5 class="center">Drop Me A Message:</h5>

            <form action="/contact" method="post">
              <div class="input-field">
                <label for="name">What is your name? *</label>
                <input id="name" type="text" class="validate" name="name"/>
              </div>
              <div class="input-field">
                <label for="email">What is your email? *</label>
                <input id="email" type="text" class="validate" name="email"/>

              </div>
              <div class="input-field">
                <label for="message">Write me here... *</label>
                <input id="message" type="text" class="validate" name="message" placeholder="How can we collaborate?"/>

              </div>
              <button id="send-button" class="btn waves-effect #424242 grey darken-3" type="submit">Send Message</button>

            </form>

          </div>
        </div>
      </div>
    </div> -->

    <div class="scroll-down">
      <i class="material-icons">keyboard_arrow_up</i>
      <a href="#home">TOP</a>
    </div>
  </div>
</section>

<div id="featured-modal" class="modal">
  <a class="left modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">FEATURED</h4>
    <div class="row">
      <div class="col s12">

      </div>
    </div>
  </div>
</div>

<!-- <div id="featured-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">FEATURED</h4>
    <div class="row">

    </div>
  </div>
</div> -->

<div id="seasonOne-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">SEASON 1</h4>
    <div class="row">
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
          <div class="g-ytsubscribe" data-channelid="UCOw_cLquV9YwcDD8uwUozkw" data-layout="default" data-count="default"></div>
        </div>
        <div class="carousel-item white-text" href="#one!">
          <div class="row">
            <div class="col s4">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qc8FZP8GC4Y" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
            <div class="col s4">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Mtc7bT1Qe3g" frameborder="0" allowfullscreen></iframe>              </div>

            </div>
            <div class="col s4">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3JgxnOasKNs" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
          </div>
        </div>
        <div class="carousel-item white-text" href="#one!">
          <div class="row">
            <div class="col s4">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VxAGLaj5GKE" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
            <div class="col s4">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EmnqGocpYlI" frameborder="0" allowfullscreen></iframe>              </div>

            </div>
            <div class="col s4">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8e8K2k0sf2A" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="seasonTwo-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">SEASON 2</h4>
    <div class="row">
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
          <div class="g-ytsubscribe" data-channelid="UCOw_cLquV9YwcDD8uwUozkw" data-layout="default" data-count="default"></div>
        </div>
        <div class="carousel-item white-text" href="#one!">
          <div class="row">
            <div class="col s3">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Jq18OuX936M" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
            <div class="col s3">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6v-Esphd9rk" frameborder="0" allowfullscreen></iframe>              </div>

            </div>
            <div class="col s3">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mxFNJOAYnvk" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
            <div class="col s3">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Vu04-acBp5o" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="bidchat-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">BidChat Now</h4>
    <div class="row">

    </div>
  </div>
</div> -->

<div id="perspectives-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">Perpectives A Live Experience</h4>
    <div class="row">
      <div class="col s12">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/bvpc-CACY78" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</div>


<div id="equipment-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <img class="bmp-logo"src="images/bmp-logo.png" />
    <div class="row">
      <div class="col s12">
        <h5 class="center">
         To schedule a consult or request more informatiomn about our equipment and services, email us here.
       </h5>

        <div class="row">
          <form action="" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="first_name" type="text" class="validate" name="firstName">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="last_name" type="text" class="validate" name="lastName">
                <label for="last_name">Last Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email" class="validate" name="email">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                <textarea id="userMessage" class="materialize-textarea" name="userMessage"></textarea>
                <label for="userMessage">Message</label>
              </div>
            </div>
            <div class="row center-align">
              <button id="send-button" class="btn waves-effect #2196f3 blue darkens-1" type="submit" name="action">Send
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
