<section id="home" class="section scrollSpy">

  <div class="home-img">
    <img src="images/jonathan-sterritt-banner-stacked.png" />
  </div>

  <div class="scroll-down">

    <a href="#bio">BIO</a>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
  <!-- <section class="ability-section center-align"> -->
      <!-- <div class="row">
        <div class="col s4">
          <img class="hero-image" src="images/actor-of-film.jpg" />
        </div>
        <div class="col s4">
          <img class="hero-image" src="images/host-of-stage.jpg" />
        </div>
        <div class="col s4">
          <img class="hero-image" src="images/producer-of-content.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <span>Actor of Film <br />and Television</span>
        </div>
        <div class="col s4">
          <span>Host of Stage <br />and Screen</span>
        </div>
        <div class="col s4">
          <span>Producer of Content <br />and Motivation</span>
        </div>

      </div> -->

  <!-- </section> -->

</section>

<section id="bio" class="section">
  <div class="container">
    <div class="row">
      <div class="col l5 hide-on-med-and-down">
        <img src="images/jonathan-quote.png" />
      </div>
      <div class="col l7 s12">
        <h1 class="hide-on-med-and-down">Jonathan Sterritt Bio</h1>
        <h1 class="hide-on-large-only center">BIO</h1>
        <p>Jonathan Steritt is an actor, filmmaker and on-camera host who comes to Los Angeles by way of Texas. Through his company Blue Match Productions, he directed, starred in and produced Periscope: A Live Experience, the first multi-camera live action short film to be broadcast in association with the social media platform. In Periscope, he played an ambitious talk show host overwhelmed by his guests’ relationship dramas. He’s also appeared on General Hospital and played a douchey ex-boyfriend in the digital short A Gentlemen’s Interview, a manipulative boy next door in the feature The Last Trip, and a stressed-out journalist in the web series One Day.
        </p>
        <br />
        <br />
        <p>
          Jonathan is a graduate of the University of North Texas and has studied acting with Howard Fine and John Rosenfeld. As a host, he’s been trained and mentored by Suzanne Sena, with whom he currently teaches. When he’s not working, Jonathan enjoys escape rooms and increasing his agility at the trampoline park where he competes  in a dodgeball league. And if you enjoy watching game shows as much as he does, you might recognize him from his (unsuccessful) attempts to get rich quick on The Price Is Right, Let’s Make a Deal and Idiottest, where it was determined that Jonathan is, in fact, not an idiot.
        </p>
        <br />
        <br />

      </div>
    </div>
    <div class="scroll-down">
      <a href="#events">EVENTS</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>

</section>

<section id="events" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #fff;">EVENTS</h1>

      </div>
    </div>
    <div class="scroll-down">
      <a href="#actor">ACTOR</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>

</section>

<section id="actor" class="section scrollSpy">
  <div class="container">
    <div class="row">
      <div class="col l4 hide-on-med-and-down">
        <img src="images/jonathan-blue-suit.png" />
      </div>
      <div class="col l8 s12">
        <h1 style="color: #fff;" class="center">ACTOR</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
          <div class="col l10 offset-l2 s12">
            <h3 class="center-align">RESUME</h3>
            <ul class="collapsible" data-collapsible="accordion">
              <!-- <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Hosting</div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s4">
                      <span class="resume-list-heading">Project</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Role</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Platform / Director</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>BidChat Now! </li>
                        <li>Kindered Connection </li>
                        <li>Hollywon't </li>
                        <li>Ruff Cuts</li>
                        <li>Kabuki Lion Vegas Show </li>
                        <li>MultiBrian </li>
                        <li>Hyundai Tucson Industrial </li>
                        <li>Targus Computer Cases </li>
                        <li>Bring Hollywood Home </li>
                        <li>Sena Series Media Training </li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>Talk Show Co-Host </li>
                        <li>Talk Show Host </li>
                        <li>Infomercial Host </li>
                        <li>Talk Show Co-Host </li>
                        <li>Emcee </li>
                        <li>Social Media Expert</li>
                        <li>Sales Expert </li>
                        <li>Sales Expert</li>
                        <li>Red Carpet Host </li>
                        <li>Level 1 Coach</li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>BlueMatch Productions </li>
                        <li>BlueMatch Productions </li>
                        <li>Blue Match Productions </li>
                        <li>iDoggiebag Network </li>
                        <li>Panasonic w/ Team Lab </li>
                        <li>Dir. Lee Levine</li>
                        <li>AZ Films</li>
                        <li>Dir. Hannes Meyer</li>
                        <li>Dir. Sharon Jimenez</li>
                        <li>Suzanne Sena</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li> -->
              <li>
                <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>TV / New Media</div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s4">
                      <span class="resume-list-heading">Project</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Role</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Network / Director</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>General Hospital </li>
                        <li>Young and the Restless </li>
                        <li>BlueMatch Comedy S. 1 & 2 </li>
                        <li>The Tiffany and Erin Show </li>
                        <li>One Day: Season 2 </li>
                        <li>Girl Parts </li>
                        <li>Cuties in the Crowd </li>
                        <li>Emergence: Season 1 </li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>Under 5 </li>
                        <li>Featured </li>
                        <li>Series Regular </li>
                        <li>Guest Star </li>
                        <li>Series Regular </li>
                        <li>Guest Star </li>
                        <li>Guest Star </li>
                        <li>Guest Star </li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>ABC </li>
                        <li>CBS </li>
                        <li>Blue Match Productions </li>
                        <li>Dir. Matthew Swanson </li>
                        <li>Dir. Sean Williams </li>
                        <li>Dir. Kelsey Robinson </li>
                        <li>Dir. Alyssa Vaughan</li>
                        <li>Dir. Austin Morales</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Film</div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s4">
                      <span class="resume-list-heading">Project</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Role</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Network / Director</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>Perspectives: A Live Exp. </li>
                        <li>The Ballad of Howard</li>
                        <li>The Toy </li>
                        <li>The Cottage </li>
                        <li>Moth Finds a Home </li>
                        <li>The Cabin </li>
                        <li>The Last Trip </li>
                        <li>Just 20 </li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>Lead </li>
                        <li>Lead </li>
                        <li>Lead</li>
                        <li>Featured </li>
                        <li>Lead </li>
                        <li>Lead </li>
                        <li>Lead </li>
                        <li>Featured</li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>Blue Match Productions </li>
                        <li>Dir. Frank Ireland </li>
                        <li>Dir. Derek Dennis Herbert</li>
                        <li>Dir. Christopher Jaymes</li>
                        <li>Dir. Gregg Brown</li>
                        <li>Dir. Jameseson Dressen</li>
                        <li>Dir. Carlos Azucena </li>
                        <li>Dir. Gavin Michael Booth</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Theatre</div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s5">
                      <span class="resume-list-heading">Production</span>
                    </div>
                    <div class="col s3">
                      <span class="resume-list-heading">Role</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Venue</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s5">
                      <ul class="resume-list">
                        <li>Dog Sees God </li>
                        <li>The Laramie Project </li>
                        <li>House of Blue Leaves</li>
                        <li>You're a Good Man Charlie Brown </li>
                      </ul>
                    </div>
                    <div class="col s3">
                      <ul class="resume-list">
                        <li>Matt</li>
                        <li>Ensemble</li>
                        <li>Billy </li>
                        <li>Schroder </li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>University of North Texas </li>
                        <li>Denton Community Theatre </li>
                        <li>Plano West Theatre </li>
                        <li>Plano Community Theatre </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Training / Education</div>
                <div class="collapsible-body">
                  <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header  special-skill-list resume-icon"><i class="material-icons right">add</i>College</div>
                      <div class="collapsible-body">
                        <ul class="collapsible" data-collapsible="accordion">
                          <li>
                            <div class="row">
                              <div class="col s6">
                                <ul>
                                  <li>University of North Texas </li>
                                  <li>UCLA </li>
                                </ul>
                              </div>
                              <div class="col s6">
                                <ul>
                                  <li>BSC (Theater Major) </li>
                                  <li>12 wk Film Business Course (Judith Merans)</li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Scene Study</div>
                      <div class="collapsible-body">
                        <ul class="collapsible" data-collapsible="accordion">
                          <li>
                            <div class="row">
                              <div class="col s12 center-align">
                                <ul>
                                  <li>John Rosenfeld (Current)</li>
                                  <li>Howard Fine</li>
                                  <li>Laura Gardner</li>
                                  <li>Marylyn Macentire</li>
                                  <li>Mark Teschner</li>
                                  <li>Tim Phillips</li>
                                  <li>Sharon Chatten</li>
                                  <li>Gunnar Rohrbacher</li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Commercial/VO</div>
                      <div class="collapsible-body">
                        <ul class="collapsible" data-collapsible="accordion">
                          <li>
                            <div class="row">
                              <div class="col s12 center-align">
                                <ul>
                                  <li>Killian Mchugh</li>
                                  <li>Carolyn Barry</li>
                                  <li>Terry Berland</li>
                                  <li>David H. Lawrence (VO)</li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>

                    </li>
                    <li>
                      <div class="collapsible-header resume-icon"><i class="material-icons right">add</i>Speciality</div>
                      <div class="collapsible-body">
                        <ul class="collapsible" data-collapsible="accordion">
                          <li>
                            <div class="row">
                              <div class="col s12 center-align">
                                <ul>
                                  <li>Jeff Galante (Groundings)</li>
                                  <li>Bob Coff (Voice - Current)</li>
                                  <li>David Coury (Voice)</li>
                                  <li>Jean-Louis Rodrigue (Alexander)</li>
                                  <li>Mark Wilson (Magic)</li>
                                  <li>John Sudol</li>
                                  <li>Sam Christensen (Branding)</li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>


              <!-- <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Special Skills</div>
                <div class="collapsible-body">
                  <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header special-skill-list"><i class="material-icons right">add</i>Music</div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="col s4 center-align">
                            Singing (Baritone)
                          </div>
                          <div class="col s4 center-align">
                            Karaoke
                          </div>
                          <div class="col s4 center-align">
                            Guitar Hero Pro
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="collapsible-header"><i class="material-icons right">add</i>Sports</div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="col s4">
                            <ul class="resume-list">
                              <li>Crossfit Athlete</li>
                              <li>Olympic Lifting</li>
                              <li>Basketball</li>
                              <li>Ultimate Frisbee</li>
                              <li>Golf</li>
                              <li>Biking</li>
                            </ul>
                          </div>
                          <div class="col s4">
                            <ul class="resume-list">
                              <li>Swimming</li>
                              <li>Rock Climbing</li>
                              <li>Stage Combat</li>
                              <li>Skydiving</li>
                              <li>Bungee Jumping</li>
                              <li>Snowboarding</li>
                            </ul>
                          </div>
                          <div class="col s4">
                            <ul class="resume-list">
                              <li>Ping Pong</li>
                              <li>Scuba Diving</li>
                              <li>Beer Pong</li>
                              <li>Dodgeball</li>
                              <li>Long Distance Running</li>
                              <li>Bowling</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons right">add</i>Other</div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="col s4">
                            <ul class="resume-list">
                              <li>Live/New Media Producer</li>
                              <li>Director</li>
                              <li>Teleprompter</li>
                              <li>IFC</li>
                              <li>Magic and Card Tricks</li>
                              <li>Video Games</li>
                            </ul>
                          </div>
                          <div class="col s4">
                            <ul class="resume-list">
                              <li>Social Media</li>
                              <li>Bartending</li>
                              <li>Serving</li>
                              <li>Salesmanship</li>
                              <li>Hospitality Management</li>
                              <li>Working with Animals</li>
                            </ul>
                          </div>
                          <div class="col s4">
                            <ul class="resume-list">
                              <li>Working with Children</li>
                              <li>Cooking</li>
                              <li>Lifeguard</li>
                              <li>Poker Player</li>
                              <li>Horseback Riding</li>
                              <li>Basic Spanish</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      </div>
                    </li>
                  </ul

                </div>
              </li> -->
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="scroll-down">
      <a href="#host">HOST</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>
</section>

<section id="host" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col l8 s12 offset-l2">
        <h1>HOST</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <div class="row">
          <div class="col l10 s12 offset-l1 credits">
            <!-- <h3 class="center-align">CREDITS</h3> -->
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Credits</div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s4">
                      <span class="resume-list-heading">Project</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Role</span>
                    </div>
                    <div class="col s4">
                      <span class="resume-list-heading">Platform / Director</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>BidChat Now! </li>
                        <li>Kindered Connection </li>
                        <li>Hollywon't </li>
                        <li>Ruff Cuts</li>
                        <li>Kabuki Lion Vegas Show </li>
                        <li>MultiBrian </li>
                        <li>Hyundai Tucson Industrial </li>
                        <li>Targus Computer Cases </li>
                        <li>Bring Hollywood Home </li>
                        <li>Sena Series Media Training </li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>Talk Show Co-Host </li>
                        <li>Talk Show Host </li>
                        <li>Infomercial Host </li>
                        <li>Talk Show Co-Host </li>
                        <li>Emcee </li>
                        <li>Social Media Expert</li>
                        <li>Sales Expert </li>
                        <li>Sales Expert</li>
                        <li>Red Carpet Host </li>
                        <li>Level 1 Coach</li>
                      </ul>
                    </div>
                    <div class="col s4">
                      <ul class="resume-list">
                        <li>BlueMatch Productions </li>
                        <li>BlueMatch Productions </li>
                        <li>Blue Match Productions </li>
                        <li>iDoggiebag Network </li>
                        <li>Panasonic w/ Team Lab </li>
                        <li>Dir. Lee Levine</li>
                        <li>AZ Films</li>
                        <li>Dir. Hannes Meyer</li>
                        <li>Dir. Sharon Jimenez</li>
                        <li>Suzanne Sena</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <div class="row">
          <div class="col l10 s12 offset-l1">
            <div class="casting-logos">
              <div>
                <img src="images/actors-access.png"/>
                <img src="images/backstage.png"/>
                <img src="images/hollywood-casting.png"/>
                <img src="images/imdb.png"/>
                <img src="images/casting-frontier.png"/>
                <img src="images/cast-it-talent.png"/>
                <img src="images/la-casting.png"/>

              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="scroll-down">
    <a href="#production">PRODUCTION</a>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
  <div >
    <img id="microman" class="right" src="images/microman.png" />
  </div>
</section>

<section id="production" class="section scrollSpy">
  <img id="camera" class="photo-element"src="images/camera.png" />
  <img id="cable" class="photo-element"src="images/cable.png" />
  <img id="microphone" class="photo-element" src="images/microphone.png" />
  <div class="container center-align">
    <img class="bmp-logo"src="images/bmp-logo.png" />
    <div id="bmp-bio" class="row">
      <div class="col s8 offset-s2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <ul class="clip-list">
          <a data-target="featured-modal"><li>Featured</li></a>
          <a data-target="seasonOne-modal"><li>Season 1</li></a>
          <a data-target="seasonTwo-modal"><li>Season 2</li></a>
          <a data-target="bidchat-modal"><li>BidChat Now</li></a>
          <a data-target="perspectives-modal"><li>Perspectives A <br /> Live Experience</li></a>
        </ul>
      </div>
      <!-- <div id="equipment-rental" class="col s6">
        <h4>Equipment Rental</h4>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6">
                  <ul class="equipment-list">
                    <li>A Camera </li>
                    <li>B Camera</li>
                    <li>C Camera </li>
                    <li>Director </li>
                    <li>Extension Cords</li>
                    <li>Generator </li>
                    <li>LED Lights</li>
                    <li>Microphone </li>
                    <li>Tape </li>
                    <li>Trailer </li>
                  </ul>
                </div>
                <div class="col s6">
                  <ul class="equipment-list">
                    <li>$60 </li>
                    <li>$60 </li>
                    <li>$60 </li>
                    <li>$75 </li>
                    <li>$15 </li>
                    <li>$150</li>
                    <li>$45</li>
                    <li>$25</li>
                    <li>$5 </li>
                    <li>$200</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons right">add</i>Equipment Rental</div>
            <div class="collapsible-body">

            </div>
          </li>
        </ul>
      </div> -->
      <div class="col s2">

      </div>
    </div>
    <div id="bmp-contact" class="row">
      <div class="col s8 offset-s2">
        <p>
          For inquires and equipment rentals, visit us at the link below;
        </p>
        <a data-target="equipment-modal">(Click Here)</a>
      </div>
    </div>
    <div class="scroll-down">
      <a href="#quote">QUOTE</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>

</section>

<section id="quote" class="section">
  <div class="container center-align">
    <h1>QUOTE</h1>
    <div class="row">
      <div class="col l6 s12">
        <p class="quote-paragraph left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
        </p>
      </div>
      <div class="col s6">
        <img src="images/jonathan-kneeling.png" />
      </div>
    </div>
    <div class="scroll-down">
      <a href="#contact">CONTACT</a>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>
</section>

<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col l5">
        <img src="images/jonathan-director-shot.png" />
      </div>
      <div class="col l7 s12">
        <h1 class="contact-header">JONATHAN</h1>
        <h1 class="contact-header">STERRITT</h1>
        <div class="row">
          <div class="col l6 m6 s12 contact-items">
            <i class="material-icons left">mail_outline</i>
            <span>1 800 603 6035</span>
          </div>
          <div class="col l6 m6 s12 contact-items">
            <i class="material-icons left">language</i>
            <span>28 JACKSON BLVD STE 1020 <br />CHICAGO IL 60604</span>
          </div>
        </div>
        <div class="row">
          <form action="/contact" method="post">
            <div class="input-field">
              <label for="name">What is your name? *</label>
              <input id="name" type="text" class="validate" name="name"/>
            </div>
            <div class="input-field">
              <label for="email">What is your email? *</label>
              <input id="email" type="text" class="validate" name="email"/>

            </div>
            <div class="input-field">
              <label for="message">How can we collaborate? *</label>
              <input id="message" type="text" class="validate" name="message" placeholder="Write me here..."/>

            </div>
            <button id="send-button" class="btn waves-effect #424242 grey darken-3" type="submit">Send Message</button>

          </form>
        </div>
      </div>
    </div>
    <div class="scroll-down">
      <i class="material-icons">keyboard_arrow_up</i>
      <a href="#home">TOP</a>
    </div>
  </div>
</section>

<div id="featured-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">FEATURED</h4>
    <div class="row">

    </div>
  </div>
</div>

<div id="featured-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">FEATURED</h4>
    <div class="row">

    </div>
  </div>
</div>

<div id="seasonOne-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">SEASON 1</h4>
    <div class="row">

    </div>
  </div>
</div>

<div id="seasonTwo-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">SEASON 2</h4>
    <div class="row">

    </div>
  </div>
</div>

<div id="bidchat-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">BidChat Now</h4>
    <div class="row">

    </div>
  </div>
</div>

<div id="perspectives-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">Perpectives A</h4>
    <div class="row">

    </div>
  </div>
</div>


<div id="equipment-modal" class="modal">
  <a class="right modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">Equipment</h4>
    <div class="row">

    </div>
  </div>
</div>
