<section id="home" class="section scrollSpy">

</section>
<section id="events" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #fff;">EVENTS</h1>

      </div>
    </div>
  </div>

</section>

<section id="host" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #fff;">HOST</h1>

      </div>
    </div>
  </div>
</section>

<section id="actor" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #737373;">ACTOR</h1>

      </div>
    </div>
  </div>
</section>

<section id="production" class="section scrollSpy">
  <img id="camera" class="photo-element"src="images/camera.png" />
  <img id="cable" class="photo-element"src="images/cable.png" />
  <img id="microphone" class="photo-element" src="images/microphone.png" />
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #737373;">PRODUCTION</h1>

      </div>
    </div>
  </div>

</section>
<section id="contact" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #fff;">CONTACT</h1>

      </div>
    </div>
  </div>
</section>
