<section id="home" class="section scrollSpy">

  <section class="ability-section center-align">
    <!-- <div class="container center-align"> -->
      <div class="row">
        <div class="col s4">
          1
        </div>
        <div class="col s4">
          2
        </div>
        <div class="col s4">
          3
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <span>Actor of Film <br />and Television</span>
        </div>
        <div class="col s4">
          <span>Host of Stage <br />and Screen</span>
        </div>
        <div class="col s4">
          <span>Producer of Content <br />and Motivation</span>
        </div>

      </div>
    <!-- </div> -->

  </section>

</section>

<section id="bio" class="section">
  <div class="container">
    <div class="row">
      <div class="col s7 offset-s5">
        <h1 style="color: #000;">Jonathan Sterritt Bio</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br />
        <br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br />
        <br />
        <a class="waves-effect waves-light #f44336 red btn">button</a>

      </div>
    </div>
  </div>

</section>

<section id="events" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #fff;">EVENTS</h1>

      </div>
    </div>
  </div>

</section>

<section id="actor" class="section scrollSpy">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s4">
        <h1 style="color: #fff;" class="center">ACTOR</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
          <div class="col s10 offset-s2">
            <h3 class="center-align">RESUME</h3>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Measurements</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>TV</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Film</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Commercials</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>New Media</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Training</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons right">add</i>Special Skills</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="host" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #737373;">HOST</h1>

      </div>
    </div>
  </div>
  <div >
    <img id="microman" class="right" src="images/microman.png" />
  </div>
</section>

<section id="production" class="section scrollSpy">
  <img id="camera" class="photo-element"src="images/camera.png" />
  <img id="cable" class="photo-element"src="images/cable.png" />
  <img id="microphone" class="photo-element" src="images/microphone.png" />
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #737373;">PRODUCTION</h1>

      </div>
    </div>
  </div>

</section>
<section id="contact" class="section scrollSpy">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h1 style="color: #fff;">CONTACT</h1>

      </div>
    </div>
  </div>
</section>
