<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.min.css">
  </head>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo hide-on-med-and-up">Logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <div class="container">

            <div class="row">
              <div class="col l9 m9">
                <ul style="margin-left: 200px;" class="left hide-on-med-and-down">
                  <li><a class="selected nav-item" href="#home">Home</a></li>
                  <li><a class="nav-item" href="#events">Events</a></li>
                  <li><a class="nav-item" href="#host">Host</a></li>
                  <li><a class="nav-item" href="#actor">Actor</a></li>
                  <li><a class="nav-item" href="#production">Production</a></li>
                  <li><a class="nav-item" href="#contact">Contact</a></li>

                </ul>
              </div>
              <div id="social-media" class="col l3 m3">
                <span style="font-size: 20px;">SOCIAL MEDIA</span>
              </div>

            </div>
          </div>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#home.">Home</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#host">Host</a></li>
            <li><a href="#actor">Actor</a></li>
            <li><a href="#production">Prodiction</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>

    </div>
  </header>
  <body>
    <%- body %>
  </body>

  <footer id="footer">

  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="./javascripts/app.js" type="text/javascript"></script>
</html>
