body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;}

a {
  color: #00B7FF;
}

.overlay{
  position: absolute;
  width: 100vw;
  background-color: black;

  .coming-soon-wrapper {
    @media (max-width: 1024px){
      align-items: center;
    }
    @media (max-width: 768px){
     background-position: center;
    }
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-image: url("../images/jonathan-thank-you.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    height: 100vh;

    h1 {
      color: #cccbc5;
      font-size: 5vw;
      text-transform: uppercase;
      display: inline-block;
      background-color: black;
      opacity: 0.79;
      width: 100vw;
      text-align: center;
      padding: 0 15px;
      span{
        font-size: 3vw;
      }
    }
  }
}
