* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*padding: 50px;*/
  font: 14px 'Montserrat', sans-serif;
}

a {
  color: #555;

}

p {
  font-weight: bold;
}


.section {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

nav {
  background: transparent;
  box-shadow: none;
  top: 0;

  .nav-wrapper {
    .container {
      width: 100%;
    }
  }
  ul{
    a{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }
    a:hover {
      background-color: transparent;
      color: #f3997b;
    }

    .selected {
      border-bottom: 2px solid white;

    }



  }
  .social-media {

    @media (max-width: 992px){
      position: absolute;
      text-align: center;
    }

    img {
      box-sizing: border-box;
      width: 13%;
      display: inline;
      padding: 5px;
      margin: 15px 0 0 0;

      @media (max-width: 992px){
        width: 18%;
      }
      @media (max-width: 761px){
        width: 16%;
      }

      @media (max-width: 600px){
        width: 8%;
      }

      @media (max-width: 375px){
        width: 10%;
      }

    }
  }
}

.navbar-fixed {
  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.side-nav{
  width: 100% !important;
  background-color: #f3997b;
  li{
    a{
      font-size: 40px;
      line-height: 70px;
      padding: 50px 32px;
    }
  }
}

#footer {
  background-color: #303030;
  min-height: 100px;
}

.scroll-down {
  position: absolute;
  left: calc(50% - 25px);
  right: auto;
  bottom: 10px;
  z-index: 99;
  // width: 84px;
  // font-family: "myriad-pro-condensed",sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color .314s ease;
  transition: color .314s ease;
}


#home {
  // position: relative;
  // top: 0;
  min-height: 950px;
  background: #1e2230 url(../images/home-background.jpg) no-repeat center bottom;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  .jonathan-main {
    color: #fff;
    // position: relative;
    // left: 0;
    // background: url("../images/jonathan-main-black.png") no-repeat center bottom;
    // width: 100%;
    // height: 750px;
    // top: 0;
    //
    // @media screen and (max-height: 765px) and (min-width: 992px){
    //   height: 772px;
    // }
    //
    // @media screen and (max-height: 1060px) and (min-width: 768px){
    //   background-size: cover;
    //   background-position: center top;
    // }
    //
    // @media screen and (min-width: 320px){
    //   width: 596px;
    //   background-position: center center;
    //   margin: 0 auto;
    //   top: 60px;
    // }
  }

  .home-img {
    padding-top: 150px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;


    img {
      border: 5px solid #fff;
      display: block;
      margin: 0 auto;
      width: 60%;
    }

  }
  .scroll-down{
    color: #fff;
    a {
      color: #fff;
    }
    i {
      display: block;
    }
  }

  .ability-section {
    padding: 150px 20px;
    margin: 50px auto;
    left: 0;
    right: 0;
    position: absolute;
    background: #E63215;
    min-height: 600px;
    width: 75%;
    border: 10px solid #000;

    img {
      width: 50%;
      border: 10px solid #000;
    }

    span {
      font-size: 24px;
      color: #fff;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;

    }
  }
}

#bio {
  background: #F8F8F8;
  min-height: 900px;
  color: #555;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  h1 {
    color: #555;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    span {
      font-weight: bold;
    }
  }

  img {
    position: absolute;
    width: 29vw;
    left: 150px;
    bottom: -4px;

    @media (max-width: 1700px) and (min-width: 1601px){
      width: 35vw;
      left: 150px;
    }

    @media (max-width: 1600px) and (min-width: 1581px){
      width: 32vw;
      left: 150px;

    }
    @media (max-width: 1580px){
      width: 38vw;
      left: 60px;
    }
  }

  .scroll-down {
    color: #555;
    a {
      color: #555;
    }
    i {
      display: block;
    }
  }
}

#social {
  background: #add3ce;
  min-height: 740px;

  p{
    font-size: 18px;
    line-height: 1.5;
    color: #555;
  }

  a {
    text-decoration: none;
    span {
      color: #F25951;
    }
  }

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }


  .scroll-down {
    color: #fff;
    a {
      color: #fff;
    }
    i {
      display: block;
    }
  }

}

#actor {
  background: #2f2f2f url(../images/host-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 800px;
  @media (max-width: 992px) {
    background-image: none;
    background-color: #2f2f2f;
  }

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  .actor-background{
    width: 30%;
  }

  h3 {
    color: #fff;
  }
  p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    span{
      display: inline-block;
      padding: 0 0 0;
      font-weight: bold;
    }

  }
  img {
    position: absolute;
    left: 132px;
    bottom: -7px;
    @media (max-width: 1219px) and (min-width: 1024px){
      width: 40% !important;
      left: -21px;
    }
  }
  @media (max-width: 1340px) and (min-width: 1220px){
    img{
      position: absolute;
      // right: 683px;
      left: 109px;

    }
  }
  @media (max-width: 1440px) and (min-width: 1341px){
    img{
      position: absolute;
      // right: 683px;
      left: 117px;

    }
  }
  @media (max-width: 1119px){
    img{
      right: 200%;
    }
  }

  @media (max-width: 1201px){
    img{
      width: 40% !important;
      left: -22px;
    }
  }

  @media (max-width: 992px){
    img{
      display: none;
    }
  }



  .scroll-down {
    color: #fff;
    a {
      color: #fff;
    }
    i {
      display: block;
    }
  }
}

#actor-portfolio {
  background: #2f2f2f url(../images/actor-background-flipped.jpg) no-repeat center top;

  h2{
    color: #fff;
  }
  .carousel-slider{
    min-height: 200px;
    img {
      position: static;
    }
    .indicators {
      .indicator-item {
        display: none;
      }
    }
  }

  .hide-video-container {
    z-index: -1;
  }

  .resume-list {
    line-height: 1.5;
  }
  .resume-list-heading {
    /*border-bottom: 1px solid #fff;
    padding-bottom: 2px;*/
  }
  .special-skill-list {
    border-top: 0 !important;
  }

  .collapsible {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: none;
  }

  .collapsible-header {
    color: #fff;
    background-color: inherit;
    border-top: 1px solid #ddd;
    border-bottom: none;

    i {
      color: #3091ce;
    }
  }

  .collapsible-header-end {
    border-bottom: 1px solid #ddd;
  }

  .collapsible-body {
    color: #fff;
    border-top: 1px solid #ddd;
  }

  .casting-logos-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .casting-logos {
      img {
        width: 45px;
        margin: 0 10px;
        display: inline;
        position: static;
        @media (max-width: 375px){
          width: 41px;
        }
      }
    }

  }

}



#host {
  background: #f7bdaa url(../images/actor-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 740px;
  color: #555;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  h1 {
    color: #555;
  }

  .carousel {
    width: 550px;
    height: 435px !important;

    img {
      width: 50%;
    }
    .indicators {
      .indicator-item {
        display: none;
      }
    }
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    span {
      font-weight: bold;
    }
  }

  .credits {
    margin-top: 25px;

    .collapsible {
      border-top: 1px solid #555;
      border-left: 0;
      border-right: 0;
      box-shadow: none;
      margin: 40px 0;

    }

    .collapsible-header {
      background-color: transparent;
      border-bottom: 1px solid #555;
      text-align: center;
    }

    .collapsible-body {
      border-bottom: 1px solid #555;
    }

  }


  #microman {
    position: absolute;
    margin-left: 69px;
    left: -135px;
    bottom: -112px;
    width: 42%;

    @media(max-width: 992px){
      display: none;
    }
  }

  #microman-2 {
    position: absolute;
    margin-right: 69px;
    right: -60px;
    bottom: -66px;
    width: 25%;

    @media(max-width: 992px){
      display: none;
    }
  }

  .scroll-down {
    color: #555;
    a {
      color: #555;
    }
    i {
      display: block;
    }
  }

}


#production {
  background: #e5e5e5 url(../images/production-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 740px;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  .photo-element {
    position: absolute;
  }


  #camera {
    top: 130px;
    right: 0;
    z-index: 10;

    @media (min-width: 1024px){
      right: -155px;
    }

    @media(max-width: 992px){
      display: none;
    }

  }

  #cable {
    right: 10%;
    bottom: -265px;
    z-index: 11;

    @media(max-width: 992px){
      display: none;
    }
  }

  #microphone {
    bottom: -175px;
    left: -100px;
    z-index: 8;

    @media (min-width: 1024px){
      left: -255px;
    }

    @media(max-width: 992px){
      display: none;
    }
  }

  .bmp-logo {
    width: 55%;
    margin-bottom: 25px;
    margin-top: 65px;
  }


  #bmp-bio {
    p {

      padding: 0 19px;
      color: #737373;
      font-size: 18px;
      line-height: 1.5;
      @media (max-width: 992px){
        padding: 0;
      }
    }

  }

  .clip-list{
    li {
      font-family: 'Fontdiner Swanky', cursive;
      position: relative;
      background-color: #3091ce;
      border: 2px solid #737373;
      padding: 20px 0;
      margin: 0 0 10px;
      z-index: 10;
      color: #fff;
      font-size: 18px;
    }
  }

  .collapsible {
    // border-top: none;
    // border-left: none;
    // border-right: none;
    // border-bottom: none;
    // box-shadow: none;
  }

  .collapsible-header{
    // color: #fff;
    background-color: inherit;
    border-top: 1px solid #ddd;
    // border-bottom: none;

    i {
      color: #3091ce;
    }
  }


  #equipment-rental {
    padding: 0 40px;
    color: #737373;


    .equipment-list li{
      text-align: left;
      line-height: 1.5;
    }
  }



  #bmp-contact {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #737373;

    p{
      font-size: 18px;
    }

    a {
      color: #3091ce;
    }
  }

  .scroll-down {
    color: #555;
    a {
      color: #555;
    }
    i {
      display: block;
    }
  }

}

#quote {
  background-color: #D7D5E6;
  min-height: 740px;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  h1 {
    color: #555;
  }

  img {
    width: 25vw;
    position: absolute;
    bottom: -4px;
    right: 90px;

    @media (max-width: 1700px) and (min-width: 1601px){
      width: 24vw;
      right: 150px;
    }

    @media (max-width: 1600px) and (min-width: 1581px){
      width: 25vw;
      right: 150px;

    }
    @media (max-width: 1580px){
      width: 28vw;
      right: 170px;
    }

    @media(max-width: 992px){
      display: none;
    }


  }

  .quote-paragraph {
    line-height: 2.0;
    text-align: left;
    padding: 0 40px;
    font-size: 2.5vw;
    line-height: 1.5;
    color: #555;

    span {
      font-weight: 100;
      .quote {
        margin-right: 30px;
      }
    }


  }

  .scroll-down {
    color: #555;
    a {
      color: #555;
    }
    i {
      display: block;
    }
  }
}



#contact {
  background: #9a9a9a;

  min-height: 925px;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  h5 {
    color: #434343;
    font-weight: bold;
  }

  img {
    width: 20vw;
    margin: 0 auto;
    display: block;

  }


  .contact-img {
    width: 32%;
    position: absolute;
    bottom: -3px;
    left: -29px;

    @media(max-width: 1770) and (min-width: 1561px){
      width: 35%;
    }

    @media(max-width: 1560) and (min-width: 1388px){
      width: 39%;
    }

    @media(max-width: 1024px) and (min-width: 993px){
      width: 45%;
    }
    @media(max-width: 992px){
      display: none;
    }
  }

  .contact-header {
    font-size: 9em;
    color: #434343;

    @media (min-width: 769px){
      font-size: 6.5em;
    }

    @media (max-width: 768px) {
      font-size: 6em;
    }

    @media (max-width: 505px){
      font-size: 3.5em;
    }

    @media (max-width: 425px){
      font-size: 3em;
    }
  }


  .contact-items {
    .commercial-logo {
      border: 4px solid #555;
    }
    i {
      color: #434343;
      font-size: 4em;
    }
    span {
      font-size: 18px;
      color: #fff;
      padding-top: 10px;
      display: block;
    }
  }

  input:not([type]), input[type=text],
  input[type=password], input[type=email],
  input[type=url], input[type=time],
  input[type=date], input[type=datetime],
  input[type=datetime-local], input[type=tel],
  input[type=number], input[type=search],
  textarea.materialize-textarea {
    border-bottom: 1px solid #434343;
  }

  .input-field {
    label {
      color: #434343;
    }
  }

  input::-webkit-input-placeholder {
    color: #434343 !important;
  }

  input:-moz-placeholder { /* Firefox 18- */
    color: #434343 !important;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
    color: #434343 !important;
  }

  input:-ms-input-placeholder {
    color: #434343 !important;
  }

  /* label focus color */
  .input-field input[type=text]:focus + label {
      color: #555;
    }
  /* label underline focus color */
  .input-field input[type=text]:focus {
     border-bottom: 1px solid #555;
     box-shadow: 0 1px 0 0 #555;
   }

   .scroll-down {
     color: #555;
     a {
       color: #555;
     }
     i {
       display: block;
     }
   }
}

#featured-modal {
  height: 800px;

  .carousel.carousel-slider {
    min-height: 690px;
    .video-container {
      margin: 45px 0;
    }
  }
  .carousel .indicators .indicator-item.active {
    background-color: #3091ce !important;
  }
  .carousel .indicators .indicator-item {
    background-color: #b9b9b9 !important;
  }
}

#seasonOne-modal, #seasonTwo-modal{
  height: 500px;
  .carousel.carousel-slider {
    min-height: 380px;
    .video-container {
      margin: 45px 0;
    }
  }
  .carousel .indicators .indicator-item.active {
    background-color: #3091ce !important;
  }
  .carousel .indicators .indicator-item {
    background-color: #b9b9b9 !important;
  }
}

#equipment-modal {
  .bmp-logo {
    display: block;
    width: 45%;
    margin: 25px auto;
  }
}



.modal {
  i {
    color:#3091ce;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
}
