* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*padding: 50px;*/
  font: 14px 'Montserrat', sans-serif;
}

a {
  color: #555;

}


.section {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

nav {
  background: transparent;
  box-shadow: none;
  top: 0;
  ul{
    a{

      @media (max-width: 1691px){
        font-size: 14px;
      }

      @media (max-width: 1358px){
        font-size: 12px;
      }
      @media (max-width: 1307px){
        font-size: 11px;
      }
      @media (max-width: 1258px){
        font-size: 10px;
      }
      @media (max-width: 1209px){
        font-size: 9px;
      }
      @media (max-width: 1164px){
        font-size: 8px;
      }
      @media (max-width: 1115px){
        font-size: 7px;
      }
      @media (max-width: 1066px){
        font-size: 6px;
      }
      @media (max-width: 1020px){
        font-size: 5px;
      }
      font-size: 20px;
      text-transform: uppercase;

    }
    a:hover {
      background-color: transparent;
      color: #f3997b;
    }

    .selected {
      border-bottom: 2px solid white;

    }



  }
  .social-media {

    @media (max-width: 992px){
      position: absolute;
      text-align: center;
    }

    img {
      box-sizing: border-box;
      width: 10%;
      display: inline;
      padding: 5px;
      margin: 15px 0 0 0;

      @media (max-width: 992px){
        width: 18%;
      }
      @media (max-width: 761px){
        width: 16%;
      }

      @media (max-width: 600px){
        width: 8%;
      }

      @media (max-width: 375px){
        width: 10%;
      }

    }
  }
}

.navbar-fixed {
  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.side-nav{
  width: 100% !important;
  background-color: #f3997b;
  li{
    a{
      font-size: 40px;
      line-height: 70px;
      padding: 50px 32px;
    }
  }
}

#footer {
  background-color: #303030;
  min-height: 100px;
}

.scroll-down {
  position: absolute;
  left: calc(50% - 25px);
  right: auto;
  bottom: 10px;
  z-index: 99;
  // width: 84px;
  // font-family: "myriad-pro-condensed",sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color .314s ease;
  transition: color .314s ease;
}


#home {
  // position: relative;
  // top: 0;
  min-height: 100vh;
  background: #1e2230 url(../images/home-background.jpg) no-repeat center bottom;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  .home-img {
    width: 100%;
    margin: 0 auto;
    align-self: center;


    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

  }
  .scroll-down{
    color: #fff;
    a {
      color: #fff;
    }
    i {
      display: block;
    }
  }

  .ability-section {
    padding: 150px 20px;
    margin: 50px auto;
    left: 0;
    right: 0;
    position: absolute;
    background: #E63215;
    min-height: 600px;
    width: 75%;
    border: 10px solid #000;

    img {
      width: 50%;
      border: 10px solid #000;
    }

    span {
      font-size: 24px;
      color: #fff;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;

    }
  }
}

#bio {
  background: #F8F8F8;
  min-height: 100vh;
  color: #555;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  h1 {
    color: #555;
  }

  img {
    position: absolute;
    top: 150px;
    left: 30px;
    width: 768px;
  }

  .scroll-down {
    color: #555;
    a {
      color: #555;
    }
    i {
      display: block;
    }
  }
}

#events {
  background: #add3ce;
  min-height: 100vh;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  .scroll-down {
    color: #fff;
    a {
      color: #fff;
    }
    i {
      display: block;
    }
  }

}

#actor {
  background: #2f2f2f url(../images/host-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 100vh;
  @media (max-width: 992px) {
    background-image: none;
    background-color: #2f2f2f;
  }

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  h3 {
    color: #fff;
  }
  p {
    color: white;

  }
  img {
    position: relative;
    left: -400px;
    top: 127px;
  }
  @media (max-width: 1440px){
    img{
      position: absolute;
      right: 683px;

    }
  }


  .resume-list {
    line-height: 1.5;
  }
  .resume-list-heading {
    /*border-bottom: 1px solid #fff;
    padding-bottom: 2px;*/
  }
  .special-skill-list {
    border-top: 0 !important;
  }

  .collapsible {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: none;
  }

  .collapsible-header {
    color: #fff;
    background-color: inherit;
    border-top: 1px solid #ddd;
    border-bottom: none;

    i {
      color: #3091ce;
    }
  }

  .collapsible-body {
    color: #fff;
    border-top: 1px solid #ddd;
  }
  .scroll-down {
    color: #fff;
    a {
      color: #fff;
    }
    i {
      display: block;
    }
  }
}

#host {
  background: #f7bdaa url(../images/actor-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 100vh;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  h1 {
    color: #555;
  }

  .credits {
    margin-top: 25px;

    .collapsible {
      border-top: 1px solid #555;
      border-left: 0;
      border-right: 0;
      box-shadow: none;

    }

    .collapsible-header {
      background-color: transparent;
      border-bottom: 1px solid #555;
    }

    .collapsible-body {
      border-bottom: 1px solid #555;
    }

  }


  .casting-logos {
    img {
      width: 45px;
      margin-right: 4px;
      @media (max-width: 375px){
        width: 41px;
      }
    }
  }

  #microman {
    position: absolute;
    margin-right: 69px;
    right: 0;
    top: 80px;
    width: 20%;

    @media(max-width: 992px){
      display: none;
    }
  }

  .scroll-down {
    color: #555;
    a {
      color: #555;
    }
    i {
      display: block;
    }
  }

}

#production.section {
  padding-top: 15px;
}
#production {

  background: #e5e5e5 url(../images/production-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 100vh;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  .photo-element {
    position: absolute;
  }


  #camera {
    top: 130px;
    right: 0;
    z-index: 10;

    @media(max-width: 992px){
      display: none;
    }

  }

  #cable {
    right: 10%;
    bottom: -265px;
    z-index: 11;

    @media(max-width: 992px){
      display: none;
    }
  }

  #microphone {
    bottom: -175px;
    left: -100px;
    z-index: 8;

    @media(max-width: 992px){
      display: none;
    }
  }

  .bmp-logo {
    width: 25%;
    margin-bottom: 15px;
  }

  #bmp-bio {
    p {
      padding: 0 40px;
      color: #737373;
      @media (max-width: 992px){
        padding: 0;
      }
    }

  }

  .clip-list{
    li {
      position: relative;
      background-color: #3091ce;
      border: 2px solid #737373;
      padding: 20px 0;
      margin: 0 0 10px;
      z-index: 10;
    }
  }

  .collapsible {
    // border-top: none;
    // border-left: none;
    // border-right: none;
    // border-bottom: none;
    // box-shadow: none;
  }

  .collapsible-header{
    // color: #fff;
    background-color: inherit;
    border-top: 1px solid #ddd;
    // border-bottom: none;

    i {
      color: #3091ce;
    }
  }


  #equipment-rental {
    padding: 0 40px;
    color: #737373;

    .equipment-list li{
      text-align: left;
      line-height: 1.5;
    }
  }

  #bmp-contact {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #737373;

    p{
      font-size: 15px;
    }

    a {
      color: #3091ce;
    }
  }

  .scroll-down {
    color: #555;
    a {
      color: #555;
    }
    i {
      display: block;
    }
  }

}

#quote {
  background-color: #D7D5E6;
  min-height: 100vh;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  h1 {
    color: #555;
  }

  img {
    width: 50vw;
    @media(max-width: 992px){
      display: none;
    }
  }

  .quote-paragraph {
    line-height: 2.0;
    text-align: left;
    padding: 0 40px;
  }

  .scroll-down {
    color: #555;
    a {
      color: #555;
    }
    i {
      display: block;
    }
  }
}



#contact {
  background: #9a9a9a;
  min-height: 100vh;

  @media (min-width: 769px) and (max-width: 992px){
    min-height: 50vh;
  }
  @media (min-width: 674px) and (max-width: 768px){
    min-height: 75vh;
  }
  @media (max-width: 673px){
    min-height: 50vh;
  }
  @media (max-width: 375px){
    min-height: 45vh;
  }

  img {
    width: 50vh;
    @media(max-width: 992px){
      display: none;
    }
  }

  .contact-header {
    font-size: 9em;
    color: #434343;

    @media (min-width: 769px){
      font-size: 6.5em;
    }

    @media (max-width: 768px) {
      font-size: 6em;
    }

    @media (max-width: 505px){
      font-size: 3.5em;
    }

    @media (max-width: 425px){
      font-size: 3em;
    }
  }


  .contact-items {
    i {
      color: #434343;
      font-size: 4em;
    }
    span {
      font-size: 18px;
      color: #fff;
      padding-top: 10px;
      display: block;
    }
  }

  input:not([type]), input[type=text],
  input[type=password], input[type=email],
  input[type=url], input[type=time],
  input[type=date], input[type=datetime],
  input[type=datetime-local], input[type=tel],
  input[type=number], input[type=search],
  textarea.materialize-textarea {
    border-bottom: 1px solid #434343;
  }

  .input-field {
    label {
      color: #434343;
    }
  }

  input::-webkit-input-placeholder {
    color: #434343 !important;
  }

  input:-moz-placeholder { /* Firefox 18- */
    color: #434343 !important;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
    color: #434343 !important;
  }

  input:-ms-input-placeholder {
    color: #434343 !important;
  }

  /* label focus color */
  .input-field input[type=text]:focus + label {
      color: #555;
    }
  /* label underline focus color */
  .input-field input[type=text]:focus {
     border-bottom: 1px solid #555;
     box-shadow: 0 1px 0 0 #555;
   }

   .scroll-down {
     color: #555;
     a {
       color: #555;
     }
     i {
       display: block;
     }
   }
}



.modal {
  i {
    color:#3091ce;
  }
}
