* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*padding: 50px;*/
  font: 14px 'Montserrat', sans-serif;
}

a {
  color: #00B7FF;
}


.section {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

nav {
  background: transparent;
  box-shadow: none;
  top: 0;
  ul{
    a{
      font-size: 20px;
      text-transform: uppercase;

    }
    a:hover {
      background-color: transparent;
      color: #f3997b;
    }

    .selected {
      border-bottom: 2px solid white;

    }


  }
}

.navbar-fixed {
  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.side-nav{
  background-color: #f3997b;
  li{
    a{
      font-size: 40px;
      line-height: 70px;
      padding: 50px 32px;
    }
  }
}

#footer {
  background-color: #303030;
  min-height: 100px;
}

#home {
  // position: relative;
  // top: 0;
  min-height: 1000px;
  background: #1e2230 url(../images/home-background.jpg) no-repeat center bottom;

  .ability-section {
    padding: 250px 20px;
    margin-top: 300px;
    margin-left: 13%;
    position: absolute;
    background: #E63215;
    min-height: 600px;
    width: 75%;
    span {
      font-size: 24px;
      color: white;
    }
  }
}

#bio {
  background: #F8F8F8;
  min-height: 750px;
}

#events {
  background: #add3ce;
  min-height: 750px;

}

#actor {
  background: #2f2f2f url(../images/host-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 750px;
  h3 {
    color: #fff;
  }
  p {
    color: white;
  }

  .collapsible {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: none;
  }

  .collapsible-header {
    color: #fff;
    background-color: inherit;
    border-top: 1px solid #ddd;
    border-bottom: none;

    i {
      color: #E63215;
    }
  }

  .collapsible-body {
    color: #fff;
    border-top: 1px solid #ddd;
  }
}

#host {
  background: #f7bdaa url(../images/actor-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 950px;

  #microman {
    // height: 100%;
    position: absolute;
    padding-right: 100px;
    right: 0;
    top: 80px;
  }

}

#production {

  background: #e5e5e5 url(../images/production-background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 780px;

  .photo-element {
    position: absolute;
  }

  #camera {
    top: 130px;
    right: 0;
    z-index: 10;

  }

  #cable {
    right: 10%;
    bottom: -265px;
    z-index: 11;
  }

  #microphone {
    bottom: -175px;
    left: 0;
    z-index: 8;
  }
}


#contact {
  background: #9a9a9a;
  min-height: 870px;

  .contact-header {
    font-size: 50px;
    color: #434343;
  }


  .contact-items {
    i {
      color: #434343;
      font-size: 4em;
    }
    span {
      font-size: 18px;
      color: #fff;
      padding-top: 10px;
      display: block;
    }
  }
}


body[data-scrollspy-active="actor"] .navbar-fixed ul>li>a {
  color: #737373;
  border-color: #737373;
}
