#quote {
  background-color: #D7D5E6;
  min-height: 870px;
}

.quote-paragraph {
  line-height: 2.0;
  text-align: left;
  padding: 0 40px;
}

#contact {
  background: #9a9a9a;
  min-height: 870px;
}

.contact-header {
  font-size: 9em;
  color: #434343;
}

.contact-items i {
  color: #434343;
  font-size: 4em;

}


.contact-items span {
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
  display: block;
}

.resume-list {
  line-height: 1.5;
}
.resume-list-heading {
  /*border-bottom: 1px solid #fff;
  padding-bottom: 2px;*/
}
